/* Untuk Smartphone*/
@media screen and (max-width: 670px) {
  /*Header*/
  .header-logo {
    float: none;
    width: 100%;
    margin: 0 85px;
  }

  .header-right {
    float: none;
    display: block;
    padding: 0 10px;
  }

  .header-right li {
    line-height: initial;
    margin-bottom: 5px;
    padding: 0 10px;
  }

  .header-right a {
    text-transform: uppercase;
    font-size: 18px;
    color: rgb(232, 240, 118);
  }

  /*Section-1*/
  .section-1 {
    left: 0%;
  }

  .section-1 p {
    text-align: center;
    margin-top: 60px;
  }

  .section-1 h1 {
    text-align: center;
  }

  button {
    width: 50%;
    margin: 15px 0;
    transform: translateX(50%);
  }

  /* section-2 */
  .heading {
    font-size: 10px;
    text-align: left;
  }

  .heading h2 {
    color: white;
  }

  .lesson {
    width: 100%;
  }

  /* section-3 */
  .card-review {
    width: 100%;
  }
}

/*section 2*/

@media screen and (max-width: 1000px) {
  /* section-2 */
  .lesson-wrapper {
    height: auto;
    padding-bottom: 20px;
    background-color: #29568f;
  }

  .heading {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 30px;
  }

  .heading h2 {
    color: white;
    text-align: center;
  }

  /* .lesson {
    float: none;
    width: 25%;
  }

  .lesson-icon {
    position: relative;
  } */

  .img-main {
    width: 100px;
    height: 100px;
  }

  .img-main:hover {
    width: 110px;
    height: 110px;
    transition: 0.8s;
    cursor: pointer;
  }

  /* section-2 */
  .lesson {
    width: 100%;
  }

  /* section-3 */
  .card-review {
    width: 50%;
  }
}
