* {
  box-sizing: border-box;
}

/* section-03 */
.review-google {
  margin-top: 50px;
  height: 400px;
}

.rev-container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.rev-container h1 {
  color: black;
  text-align: center;
  margin-bottom: 40px;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.card-review {
  transition: 0.8s;
  width: 20%;
  margin-bottom: 10px;
  flex: auto;
  margin: 0 auto;
}

.card-konten {
  transition: 0.6s;
  margin-right: 5px;
  padding: 10px 0;
  border: 1px solid black;
  color: black;
  border-radius: 10px;
  animation-name: open-card;
  animation-duration: 4s;
}

@keyframes open-card {
  from {
    color: black;
  }

  to {
    color: black;
  }
}

.card-konten:hover {
  box-shadow: 2px 5px 10px rgb(33, 33, 33);
}

.card-review h4 {
  font-weight: normal;
  padding: 0 10px;
  font-size: 16px;
}

.pic-review img {
  margin: 0 auto;
  height: 50px;
  width: 100%;
}

.name-review {
  text-align: center;
}

.name-review h5 {
  font-weight: bold;
  font-size: 16px;
}

.tombol {
  text-align: center;
}

.btn {
  margin-top: 20px;
  transition: 0.5s;
  padding: 12px 24px;
  color: black;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
  background-color: cornflowerblue;
}

.btn:hover {
  background-color: grey;
}

/* responsive tablet dan smartphone */

@media all and (max-width: 1000px) {
  .card-review {
    width: 50%;
  }
}

@media all and (max-width: 670px) {
  .card-review {
    width: 100%;
  }
}
